<!DOCTYPE html>
<html>
  <head>
    <title>Biblioteca</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <li><a href="/autores/listar">Listar autores</li>
    </ul>
  </body>
</html>
